.task_circle_form{
    border-radius:50% ;
    width: 350px;
    height: 350px;
    opacity: 0.9;
    text-align: center;
}
.card_inside_form{
    top: 40px;
    left: 15px;
    border-radius: 100%;
    width: 320px;
    height: 320px;
    position: relative;
    text-align: center;
    display: inline-block;
}

.task_form{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px
}
.btn_add_task{
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    top: 270px;
}